{% extends 'master.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 style="color:#0eb616" class="text-center"><font face ="body MT">Contact Us</font></h1>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td>Shri nagar, Khairnar wadi, Jalgaon road Bhusawal Pin code-425201</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>+918007457028</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>02582 275591</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>metalfitnessgym@example.com</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/d/u/0/embed?mid=10Dg861xJNy18dTvB6dHk9fp8dRQ&ie=UTF8&hl=en&msa=0&ll=21.048935751357394%2C75.76826325&spn=34.668997%2C78.662109&z=18" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}